Source: bufferedsocket
Section: devel
Priority: optional
Maintainer: delmotte arnaud <arnaud@unknown>
Build-Depends: debhelper-compat (= 12), cmake, build-essential
Standards-Version: 4.4.1
Homepage: https://github.com/RandomPrototypes/BufferedSocket

Package: bufferedsocket
Architecture: any
Depends: 
Description: Simple multi-platform socket library
 Simple multi-platform socket library with buffering and little/big-endian conversion functions
